name: Deploy to Railway

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Railway CLI
        run: npm install -g @railway/cli

      - name: Deploy
        run: railway up --service 75010098-894c-45ba-9c3d-3cf5d2706ef4
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
